#music{

	width: 220px;
	height:300px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
#audioPlayer{
	margin-top: 20px;
	width: 220px;
	height: 20px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
#list{	
	margin-top: 20px;
	width: 220px;
	height:260px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	background-color: #F0FFF0;
}
#playlist{
	list-style-type: none;	
}
#playlist li a
{
margin-left: 10px;
color: #1E90FF;
text-decoration: none;

}
#playlist a:hover{
	color:#FF5159;
}
