/*==Reset CSS==*/
*{
  margin :0;
  padding:0;
}
/*style cơ bản cho website*/
body{
  font-family:sans-serif;
  color:#333;
}


#content{
  background-color:azure;
}

#wap{
  width:auto;
  height:auto;
  border:1px solid  #FBF2EF ;
  margin-left:auto;    /*canh lề cho phần tử*/
}
#wap-left{
  margin-top:30px;
  background-color:azure;
}

#scroll-left{        /*thanh-cuộn-trái*/
     border:1px solid  #FBF2EF;
     width:99%;
     height:400px;
     overflow-y:scroll;
  }

#subject{
  margin:5px;     /* canh lề cho phần tử*/
  padding:0px;    /*vùng đệm, khoảng cách từ đường viền đến nội dung của phần tử*/
}
#subject ul li{
  list-style:none;
  text-align:center;   /*căn chữ ra giữa*/
  line-height:40px;
  font-size:20px;
}
#subject ul{
line-height:40px;
}
#subject ul li a{
  color:black;
  text-decoration:none;
  border-bottom:1px solid teal;
  display:block;
}
#wap-left ul li ul li:hover{
background-color:#F5FFFA;
}

#wap-left ul li a:hover{
  color:red;
  background-color:#F5FFFA;
}

#wap-right{
  /*width:75%;
  height: auto;
  float:right;*/
  background-color: azure;
}
#wap-right ul li{
  list-style:none;   /* để chỉnh kiểu chỉ mục cho các danh mục trong danh sách.*/
  clear: left;
  margin-top:25px; /* ảnh cách banner */
  border-bottom:1px solid #ccc;
  float:left;
  background-color: azure;
  display:block;


}
#wap-right ul li img{
  float:left;
  width:200px;
  height:200px;
  margin-right:20px;
  margin-left:25px;
  margin-bottom:20px;

}

#wap-right ul li a:hover{
  color:#000099;
  text-decoration:none;     /*hover k có gạch chân*/
}
#wap-right ul li a h3{
color:red;
}
#wap-right ul li:hover{
background-color:#ffebcd;
}

#wap-right ul li a {
  color:black;
}
.indent{
  font-size: 18px;
}
#QC{
  border:1px solid teal;
  /*width:23%;
  height:700px;*/
  border-bottom:1px solid teal;
  background:#EEEEEE;
  margin-top:80px;
  margin-left:15px;
  margin-bottom:20px;
  padding:15px;
  float:left;
}
#QC ul li{
list-style-type:none;
text-align:center;
text-indent:15px;
}
#QC:hover{
  background:#FFEBCD;
}
#QC ul ol{
font-size:15px;
line-height:30px;
text-indent:15px;
}
#QC img{
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
  width:80px;

}
