/*==Reset CSS==*/
* {
  margin: 0;
  padding: 0;
}

/*Style cơ bản cho website*/
body {
  font-family: sans-serif;
  color: #333;
  background-image: url(1557a3f270010af.jpg);
  background-repeat: repeat;


  
}


/*Style cho menu*/
#menu {
 background-color: #87CEFA/* #87CEFA#47bdec#66ccff*/; 

}
#menu ul {
  list-style-type: none;
  text-align: center;
  background-color: ;
}
#menu li {
  font-size: 25px;  
  display: inline-block;  
  line-height: 40px;  
  background-color: ;

}
#menu ul li {
  display: inline-block;
}
#menu ul  :hover{
  background: #66ccff ;
  color: #fff;

  
}

#menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}
#menu a:hover {
  
  color: #fff;
  width: 100%;
 
}
#content{
  font-size:16px;
  background-color: #F5FFFA;
  opacity:0.9;
  font-weight: ;
      }
#rightcontent{
    margin-left: 15px;
    margin-top: 40px;
    margin-right: 10px;
    margin-bottom: 20px;

}
#leftcontent{
    
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 20px;
}

#left_content li a {
    text-decoration: none;
    color: #FF69B4;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 18px;
}

/*Phần dành cho nhạc nhẽo */
#music{

    display: block;
    margin-right: auto;
    margin-left: auto;
}
#audioPlayer{
    margin-top: 20px;
    width: 85%;
    height: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#list{
    margin-top: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: ;
}
#playlist{
    list-style-type: none;
}
#playlist li a
{
margin-left: 10px;
color: #1E90FF;
text-decoration: none;
font-size: 16px;
}
#playlist a:hover{
    color:#FF5159;
}
